body {
  background-color: #991101;
  font-family: 'VT323', monospace;
}

h1 {
  color: white;
  text-align: center;
  font-size: 75px;
}

.container-fluid {
  padding-top: 2rem;
}
.pokemon-search, .pokemon-info{
  text-align: center;
}

#search-pokemon {
  margin-top: 2rem;
}

#pokemon-image {
  width: 15rem;
  height: 15rem;
}
