body {
  background-color: #991101;
  font-family: 'VT323', monospace;
}

h1 {
  text-align: center;
  font-size: 75px;
}

.container-fluid {
  padding-top: 2rem;
}

.container-full {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.top-row {
  margin-top: 3rem;
}
.pokemon-search, .pokemon-info{
  text-align: center;
}

#search-pokemon {
  margin-top: 2rem;
}

#pokemon-image {
  width: 15rem;
  height: 15rem;
}

@media (max-width: 575px) {
  .pokemon-search {
    margin-bottom: 3rem;
  }
}
