body {
  background-color: #991101;
}

.container-fluid {
  padding-top: 2rem;
}
.pokemon-search, .pokemon-info{
  text-align: center;
}

#pokemon-request {
  margin-top: 1.5rem;
}

#search-pokemon {
  margin-top: 2rem;
}
